h1 {
    color: rgb(50,200,50);
    background-color: color(from blue srgb r g b / 0.5)
}

h2 {
    color: #0161f1;
}

h3 {
    color:hsl(from brown 150 250 70);
}

p {
    color: black;
    background-color: color-mix(in srgb, #0c4daf 50%, #86d322 50%);
    padding: 10px;
}
