h1 {
    color: rgb(11, 133, 11);
    background-color: color(from rgb(31, 178, 223) srgb r g b / 0.5);
    padding: 1cm 10mm 10mm 1cm;
    margin: auto;

    /*Border styling*/
    border-style:solid;
    border-color: black;
    border-radius: 30px;
    border-width: 5px;

    height: auto;
    width: fit-content;

    position: sticky;

    display:flex;
}

h2 {
    color: #864c00;
    margin-top: 10px;
    text-decoration: underline;
    text-align: left;
    position: static;
}

h3 {
    color:hsl(200 100 20);
    padding-bottom: 5px;
    margin: 1em 1rem 1vh 1px;
}

p {
    color: var(--brand-color, black);
    background-color: color-mix(in srgb, #0c4daf 50%, #86d322 50%);
    padding: 10px;
    display: block;

    /*Border Styling*/
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 30px;

    height:auto;
    min-width:100px;
    max-width: 600px;
}

button:hover{
    color:red;
}

button:active{
    background-color:red;
    color: white;
}

#hidden{
    display: none;
}

.formPrompt{
    max-width: 400px;
}

.idea1, .idea2{
    max-width: 250px;
    float: left;
    margin-left: 20px;
}

ol {
    display: grid;
    grid-area: auto;
    grid-auto-rows: min-content;
    grid-template-columns: 500px;
}

ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column;
}
.graphics {
    clear: left;
}

@media (max-width: 1000px) {
    *{
        font-size: 60px;
        margin: 10px;
        clear:left;
        max-width: 1000px;
    }
    .idea1, .idea2{
        max-width: 1000px;
        float: left;
        margin-left: 20px;
    }
}

#attendence{
    background-color: rgb(167, 167, 167);
    padding: 10px;
}

img[width]{
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: green;
}
